[user]
  name = Arnaud Rebts
  email = arnaud.rebts@gmail.com
  signingkey = 94F04789
[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[push]
  default = simple
[core]
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  br = branch
  r = reset
  cp = cherry-pick
  gr = grp -Ii
  diff = diff --word-diff
  ls = log --decorate --oneline
  ll = log --decorate --numstat
  lg = log --decorate --graph --abbrev-commit --date=relative --all
[rebase]
  autosquash = true
[rerere]
  enabled = true
[commit]
  gpgsign = true
[diff]
  compactionHeuristic = 1
